

#login-container{
    display:flex;
    height: 100vh;
    padding :4px;
  }
  .left{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
  }
  .logo-div1{
   position:absolute;
   top:10px;
   left:9px;
   top: 4rem;;
   left:50px;
  
  }
  
  .right{
      width: 50vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .login-form{
    display: flex;
    flex-direction: column;
    gap:10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding:40px;
  }
  .input-box{
    display: flex;
    flex-direction: column;
    margin:10px;
  }
  .input-item{
    display: flex;
  }
  
  #admin{
    align-items: center;
    font-size: large;
    font-weight: 400;
    font-style:oblique;
    text-align: center;
  }
  .loginButton{
    margin-top: 40px;
    background-color: orange;
    border-radius: 10px;
   padding: 10px;
  }